.stem {
    width: 20px;
    height: 90px;
    background-color: black;
    margin: auto;
}

.traffic-light-body {
    width: 120px;
    height: 280px;
    background-color: black;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

.traffic-light-body div {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;    
}

.red {    
    background-color: rgb(197, 26, 26);
}

.yellow {
    background-color: rgb(243, 240, 54);
    margin-top: 10px;
}

.green {
    background-color: rgb(7, 73, 35);
    margin-top: 10px;
}

.selected {
    box-shadow: 0px 0px 50px whitesmoke;
}